spring:
  profiles:
    active: prod

  mvc:
    throw-exception-if-no-handler-found: true

  web:
    resources:
      add-mappings: false

# encoding
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true
  port: 8081